@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, "Urbanist";
}

body {
  background: #ffffff;
  min-height: 100vh;
}


header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -10px;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 12;
}

header .logo {
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
  font-weight: 700;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}

/* header ul li a:hover {
  background-color: #ddd;
    color: black;
} */

#menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


#menu li:last-child {
  margin-right: 0;
}

#menu a {
  text-decoration: none;
  color: black;
  position: relative;
}

#menu a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #1CC382;
  border-radius: 10px;
  transform-origin: left;
  transition: width 0.3s ease-in-out;
}

#menu a:hover::after {
  width: 100%;
}

#menu .active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #1CC382;
  border-radius: 10px;
}

/* Styling for the buttons in the header */
header .button {
  background-color: #4CAF50;
  /* Light green color for "Hire Talent" */
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  padding: 10px 35px;
  margin: 10px 5px;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.4s;
  /* Slower transition */
}

header .button.white {
  background-color: white;
  /* White color for "Get Hired" */
  color: #4CAF50;
  border-radius: 50px;
  padding: 10px 35px;
  margin: 10px 5px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #4CAF50;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.4s;
  /* Slower transition */
}

/* Add :hover styles */
header .button:hover,
header .button.white:hover {
  transform: translateY(-2px);
  /* Move the button slightly upwards on hover */
}

/* Add :active styles */
header .button:active {
  background-color: #3e8e41;
  /* Darker green for button when pressed */
  transform: scale(0.95);
  /* Scale down the button slightly when pressed */
}

header .button.white:active {
  background-color: #3e8e41;
  /* Darker green for button when pressed */
  color: #ffffff;
  /* Darker green for button when pressed */
  transform: scale(0.95);
  /* Scale down the button slightly when pressed */
}


/* Your existing CSS for desktop */

/* New CSS for mobile menu */


/* Media query for mobile */
@media screen and (max-width: 768px) {
    .mobile-menu {
    display: flex ;
    justify-content: space-between;
  }
  header{
    background-color: white;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    /* margin-left: -18em; */
    transition: 0.4s;
  }

  .close-bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
    transform-origin: center;
  }

  #close-menu.active .close-bar:first-child {
    transform: rotate(45deg);
    margin-top: -1em;
  }

  #close-menu.active .close-bar:last-child {
    margin-top: -0.5em;
    transform: rotate(-45deg);
  }

  #menu {
    list-style: none;
    padding: 0;
    position: absolute;
    /* position: fixed; */
    top: 4.5rem;
    left: -100%;
    width: 100%;
    height: 80vh;
    background-color: #fff;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    transition: left 1s cubic-bezier(0.19, 1, 0.22, 1);
    /* Add smooth left transition */
  }
  .hidden {
    display: none;
  }

  header {
    padding: 30px 20px;
    /* Reduce padding for smaller screens */
  }

  header ul li {
    margin: 15px 0;
  }

  #menu.active {
    left: 0;
  }

  .mobile-menu {
    display: block;
  }

  #burger-menu.active~#close-menu {
    display: block;
  }
}







.banner {
  position: relative;
  margin-top: 109px;
  width: 100%;
  height: 1064px;
  /* Set the desired height for the banner */
  overflow: hidden;
}

/* .banner img {
  width: 1055px;
  height: 706px;
    background-size: 68% auto;
  margin-left: 50%;
  object-fit: cover;
} */


.banner img {
  object-fit: cover;
  width: 80%;
  height: 80%;
  margin-left: 20%;
  transform: translateX(-50%);
  transform: scaleX(-1);
}



.slide {
  overflow: hidden;
  flex: 0 0 100%;
  position: relative;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
/* width: 1440px; */
  width: 80%;
  height: 80%;
    background: linear-gradient(87deg, #4C40F7 40.86%, rgba(76, 64, 247, 0.00) 87.89%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  opacity: 0;
  z-index: 1; /* Ensure overlay is above the image */
}

.overlay-content {
  padding: 20px;
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

/* Add hover effect to display the overlay */
.banner-overlay {
  opacity: 1;
}

.overlay-content {
  margin-left: -25em;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
}

.overlay-content button {
  background-color: #3ceca8;
  color: #4CAF50;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  padding: 10px 12px;
  margin: 10px 5px;
  cursor: pointer;
}

.overlay-content #banner-text {
  text-align: left;
  /* Align text content to the left */
}
.overlay-content #banner-text > h1{
  text-align: left;
  font-size: 52px;
  /* Align text content to the left */
}
.overlay-content #banner-text > p{
  text-align: left;
  font-size: 20px;
  /* Align text content to the left */
}

.overlay-content h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  /* Add margin to create spacing between elements */
}

.overlay-content p {
  text-align: left;
  /* Align paragraph to the left */
  width: 500px;
  margin-bottom: 20px;
  /* Add margin to create spacing between elements */
}

/* [Pressing button */

.overlay-content .button {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.4s;
  /* Slower transition */
}

/* Add :active styles */
.overlay-content .button:active {
  background-color: #3e8e41;
  /* Darker green for button when pressed */
  transform: scale(0.95);
  /* Scale down the button slightly when pressed */
}





.banner-overlay h1 {
  font-size: 36px;
  font-weight: bold;
}

.banner .button {
  background-color: #4CAF50;
  /* Light green color for "Hire Talent" */
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  padding: 9px 40px;
  margin: 10px 5px;
  cursor: pointer;
}

.banner .button.white {
  background-color: white;
  /* White color for "Get Hired" */
  color: #4CAF50;
  border-radius: 50px;
  padding: 10px 35px;
  margin: 10px 5px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #4CAF50;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.4s;
  /* Slower transition */
}


.banner .btn-data {
  background-color: transparent;
  /* Light green color for "Hire Talent" */
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 12px;
  border-radius: 50px;
  padding: 2px 12px;
  margin: 10px 5px;
  cursor: pointer;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.star-rating .star {
  color: #FDC639;
}

/* Additional styles */
.rating-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-section .company-name {
  color: #FFFBFB;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.15px;
  margin-left: 10px;
  /* Adjust the margin as needed */
}

.rating-section .company-logo {
  margin-left: -115px;
  margin-bottom: -30px;
  width: 26px;
  height: 26px;
  vertical-align: middle;
}

.company-logo {
  transform: scaleX(-1);
}

.star-rating {
  display: flex;
  align-items: center;
  margin-top: 5px;
  /* Adjust the spacing as needed */
}

.separator {
  width: 50px;
  padding-right: 20px;
  height: 50px;
  color: #fff;

}

/* Keep your existing CSS for the banner and overlay */

/* Add styles for the banner-slider and slide */
.banner-slider {
  display: flex;
  width: 100%;
  /* Set the width to 100% for responsiveness */
  transition: transform 0.5s ease;
}


/* Add styles for the slider navigation */
.slider-nav {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  z-index: 3;
}

.prev-slide,
.next-slide {
  background: #fff;
  /* Background color for navigation buttons */
  background-repeat: no-repeat;
  color: transparent;
  border: none;
  width: 33px;
  height: 33px;
  /* font-size: 24px; */
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}





.prev-slide {
  transform: rotate(180deg);
  margin-left: 20px;
}

.next-slide {
  margin-right: 20px;
}

.prev-slide svg {
  width: 12px;
  height: 14px;
  /* margin-left: px; */
  /* margin-top: -5px; */
}

.next-slide svg {
  width: 12px;
  height: 14px;
  /* margin-left: 8px; */
  /* margin-top: -5px; */
}


.prev-slide:hover,
.next-slide:hover {
  background-color: rgba(255, 255, 255, 0.8);
  /* Darker background when hovered */
}



/* Styles for screens smaller than or equal to 768px */
@media (max-width: 768px) {
  .banner {
    margin-top: 0;
    height: auto;
    /* Adjust height for responsiveness */
  }

.banner img {
  width: 1055px;
  height: 706px;
    background-size: 68% auto;
  margin-left: -60%;
  object-fit: cover;
}

  .banner-overlay {
    width: 100%;
    height: 99%;
    background: linear-gradient(88deg, #4C40F7 0%, rgba(76, 64, 247, 0.00) 120%);
  }

  .overlay-content {
    margin-left: 0;
    align-items: center;
  }

  .overlay-content button {
    font-size: 11px;
    padding: 8px 10px;
  }

  .overlay-content h1 {
    font-size: 20px;
  }

  #banner-text {
    text-align: center;
    /* Center-align text content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Ensure the container takes up the full height of its parent */
  }


  .overlay-content #banner-text > h1{
  text-align: left;
  font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 132.143% */
letter-spacing: -1.12px;
  /* Align text content to the left */
}
.overlay-content #banner-text > p{
  text-align: center;
  font-size: 18px;
  width: 90%;
  /* Align text content to the left */
}

    #banner-text h1{
    text-align: center;
/* font-family: Satoshi; */
font-size: 27.741px;
font-style: normal;
font-weight: 700;
line-height: 36.658px; /* 132.143% */
letter-spacing: -1.11px;
  }

  #banner-text h1,
  #banner-text p {
    text-align: center;
    /* Center-align both heading and paragraph */
    margin: 10px 0;
    /* Add margin for spacing between elements */
  }

  #banner-text p {
    width: 400px;
    font-size: 16px;
    text-align: center;
    /* Center-align both heading and paragraph */
    margin: 10px 0;
    /* Add margin for spacing between elements */
  }


  .slider-nav {
   margin-top: 5em;
}
  

}




/* FORM COMPLETE CSS */

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.contact-form {
  text-align: center;
  padding: 20px;
  width: 459px;
  height: 651px;
  background-color: #fffdfd;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  /* Adjust the font size as needed */
  text-align: left;
  color: #333;
}

.contact-form .rect2 {
  width: 40%;
  height: 5px;
  background: #1CC382;
  border-radius: 3px;
  margin-top: -4%;
  margin-bottom: 4%;
}

.contact-form label {
  display: block;
  text-align: left;
  margin-bottom: 3px;
  font-size: 14px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.contact-form .form-control {
  width: 100%;
  margin-left: 0%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 14px;
}

.btn-secondary {
  padding: 10px 20px;
  background-color: #1CC382;
  color: #fff;
  border: none;
  width: 90%;
  height: 43px;
  margin-left: -10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.4s, transform 0.4s;
  /* Slower transition */
}

/* Add :hover styles */
.btn-secondary:hover {
  transform: translateY(-2px);
  /* Move the button slightly upwards on hover */
}

/* Add :active styles */
.btn-secondary:active {
  background-color: #159b60;
  /* Darker green for button when pressed */
  transform: scale(0.95);
  /* Scale down the button slightly when pressed */
}



/* Media for Forms in Mobile */
@media screen and (max-width: 768px) {


  .contact-form {
    width: 90vw;
    /* height: 100%; */
    max-height: 715px;
    /* margin: 0 auto; */
    /* overflow-y: scroll; */
  }

  /* form {
    overflow-y: scroll;
  } */

  .pop-up-Positioning1 {
    margin-top: 8em;
  }

  .pop-up-Positioning {
    margin-top: 8em;
  }

  .contact-text {
    width: 90vw;
  }



  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* overflow: scroll; */
  }



  .contact-reach {
    margin-right: 0px;
    align-items: center;
  }

  .contact-heading>img {
    width: 80vw;
  }

}


.pop-up-Positioning {
  background-color: rgba(255, 255, 255, 0.2);
  /* Semi-transparent white background */
  backdrop-filter: blur(5px);
  /* Apply a blur effect to the background */
  width: 100%;
  height: 110vh;
  display: none;
  position: fixed;
  bottom: 0rem;
  top: -12rem;
  right: 0rem;
  left: 0rem;
  z-index: 100;
}

.closebutton {
  width: 100%;
  text-align: right;
  font-size: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial;

}

.closebutton:hover {
  cursor: pointer;
}

.hiring {
  height: 100%
}


/* Second Form */
.pop-up-Positioning1 {
  background-color: rgba(255, 255, 255, 0.2);
  /* Semi-transparent white background */
  backdrop-filter: blur(5px);
  /* Apply a blur effect to the background */
  width: 100%;
  height: 110vh;
  display: none;
  position: fixed;
  bottom: 0rem;
  top: -13rem;
  right: 0rem;
  left: 0rem;
  z-index: 100;
}

.closebutton1 {
  width: 100%;
  text-align: right;
  margin-bottom: -1em;
  font-size: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial;

}

.closebutton1:hover {
  cursor: pointer;
}

.getHired {
  height: 100%
}


@media screen and (max-width: 768px) {
  .contact-form {
    width: 90vw;
    max-height: 765px;
    /* display: flex; */
    /* flex-direction: row; */
    margin: 0 auto;
    /* overflow: scroll; */
  }

  .pop-up-Positioning1 {
    margin-top: 8em;
    /* overflow: scroll; */
  }

  .pop-up-Positioning {
    margin-top: 8em;
    /* overflow: scroll; */
  }
}



/* FORM CSS ENDS HERE  */



/* 
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    max-width: 1064px;
    margin: 0 auto;
}
 */



.container2 {
    max-width: 1200px;
    /* margin: 0 auto; */
    margin: 0 -2%;
}

.container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns in the grid */
    gap: 20px; /* Spacing between cards */
    max-width: 1064px;
    /* margin: 0 35px; */
    /* margin: 0 auto; */
}
.container4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns in the grid */
    gap: 5px; /* Spacing between cards */
    max-width: 685px;
    /* margin: 0 35px; */
    margin: 0 auto;
}




.arrow {
  width:70%;
  margin-top: 30%;
  margin-left: -20%;
}

.union{
  position: absolute;
  width: 894.692px;
height: 885.225px;
margin-top: -350px;
margin-left: -230px;
transform: rotate(180.291deg);
overflow-y: hidden;
}







.blue-box2 {
    background: #DBFFF2;
    width: 1352px;
    height: 944px;
    margin-left: 75px;
    border-radius: 25px;
    padding: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}


.content-top {
  width: 803px;
  color: var(--mindful-gray-white, #FFF);
text-align: center;
font-size: 52px;
font-style: normal;
font-weight: 500;
line-height: 80px; /* 153.846% */
letter-spacing: -1.56px;
text-align: center;
margin-left: 270px;
margin-bottom: 160px;
}


.content-next{
  width: 573px;
  text-align: center;
font-size: 20px;
font-style: normal;
margin-top: -120px;
margin-bottom: 25px;
margin-left: 30%;
}


.container2 {
    max-width: 1200px;
    margin: 0 auto;
    /* margin: 0 -2%; */
}

.blue-box2 h2 {
    font-size: 36px;
    margin-bottom: 140px;
}



.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}



.union{
  position: absolute;
  width: 894.692px;
height: 885.225px;
margin-top: -350px;
margin-left: -230px;
transform: rotate(180.291deg);
overflow-y: hidden;
}



.circle2 {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #DBFFF2;
    position: absolute;
    top: -53px;
    left: calc(50% - 53px);
    z-index: 1;
}





.content-top {
  width: 803px;
  color: var(--mindful-gray-white, #FFF);
text-align: center;
font-size: 52px;
font-style: normal;
font-weight: 500;
line-height: 80px; /* 153.846% */
letter-spacing: -1.56px;
text-align: center;
margin-left: 270px;
margin-bottom: 160px;
}

.content-top img {
    margin-top:8%;
    margin-bottom:-5% ;
}


.content-next{
  width: 573px;
  text-align: center;
font-size: 20px;
font-style: normal;
margin-top: -120px;
margin-bottom: 25px;
margin-left: 30%;
}



.blue-box3 {
    background-color: #ffffff;
    width: 1352px;
    height: 1134px;
    margin-top: -25%;
    margin-left: 75px;
    margin-bottom: 75px;
    border-radius: 25px;
    padding: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.blue-box3 .apply {
  background-color: #1CC382;
  color: #ffffff; /* Blue text color */
  font-weight: bold;
  border: none;
  width: 318px;
  margin-top: 50px;
  margin-left: 4em;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.blue-box3 .content-top{
    color: black;
}


/* .blue-box3 .apply:hover {
  background-color: #4C40F7; 
  color: #ffffff;
} */


.blue-box3 .apply-direct {
  background-color: #1CC382;
  color: #ffffff; /* Blue text color */
  width: 158px;
height: 46px;
  /* border: 1px solid #000000; */
  text-align: left;
  margin-top: 10px;
  margin-left: 25px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.blue-box3 .facility-place {
  background-color:  #F5F7FB;
  color: #6B7C8F; /* Blue text color */
  width: 135px;
  height: 46px;
  text-align: left;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.blue-box3 .facility-place img {
    margin-top:-1%;
    margin-left: -5%;
}
.blue-box3 .facility-place h5 {
    margin-top:-50%;
    margin-left: 25%;
    font-size: 15px;
}


.blue-box3 .facility-openings {
  background-color:  #F5F7FB;
  color: #6B7C8F; /* Blue text color */
  width: 145px;
  height: 46px;
  text-align: left;
  margin-top: 10px;
  margin-left: -65px;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.blue-box3 .facility-openings img {
    margin-top:-1%;
    margin-left: -5%;
}
.blue-box3 .facility-openings h5 {
    margin-top: -47%;
    margin-left: 25%;
    font-size: 15px;
}

.blue-box3 .facility-study {
  background-color:  #F5F7FB;
  color: #6B7C8F; /* Blue text color */
  width: 195px;
  height: 46px;
  text-align: left;
  margin-top: 10px;
  margin-left: -75px;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.blue-box3 .facility-study img {
    margin-top:-1%;
    margin-left: -5%;
}
.blue-box3 .facility-study h5 {
    margin-top: -32%;
    margin-left: 15%;
    font-size: 15px;
}

.blue-box3 .facility-application {
  background-color:  #F5F7FB;
  color: #6B7C8F; /* Blue text color */
  width: 215px;
  height: 46px;
  text-align: left;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.blue-box3 .facility-application img {
    margin-top:-1%;
    margin-left: -5%;
}
.blue-box3 .facility-application h5 {
    margin-top: -30%;
    margin-left: 15%;
    font-size: 15px;
}




.blue-box3 .card3-top {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-top: 1%;
    font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 23.189px; /* 100% */
}

.blue-box3 .card3-top .name {
    margin-left: 5%;
    margin-right: 5%;
    align-items: left;
}
.blue-box3 .card3-top .price {
    margin-left: 30%;
}

.blue-box3 .card3-data {
    display: grid;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: left;
    grid-template-columns: repeat(3, 1fr); /* 3 columns in the grid */
    /* gap: 20px; Spacing between cards */
    max-width: 100%;
}

.blue-box3 .card3-data .wfh{
    margin-left: 130%;
}
.blue-box3 .card3-data .ns{
    margin-left: 50%;
}






.card3 {
    position: relative; /* Set position to relative for circle positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    color: rgb(0, 0, 0);
    width: 569px;
    height: 327px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #DDD;
    /* box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.10); */
    transition: background-color 0.3s, color 0.3s;
    align-items: flex-start;
}

.card3 .line{
  width: 317px;
  height: 1px;
  background-color: #000000;
  margin: 20px;
}

.card3 img{
  margin-left: 25px;
  margin-top: 20px;
}

.card3 h4{
  margin-left: 25px;
  font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 52px; /* 212.5% */
letter-spacing: -0.96px;
}

.card3 h5{
  margin-left: 27px;
  font-size: 18px;
font-style: normal;
font-weight: 600;
margin-top: -15px;
line-height: 60px; /* 340% */
letter-spacing: -0.6px;
}








/* BLUE-BOX4 LADKI AND BUTTON */

.blue-box4 img {
  margin-top: -25.5%;
  margin-left: -50%;
  width: 30.4%;
  margin-bottom: -64px;
  /* transform: scaleX(-1); */
}

#green {
  color: #1CC382;
}

/* Blue-Box4 - LADKI WALA BLUE DABBA */

.blue-box-wrapper4 {
  display: flex;
  justify-content: center;
}

.blue-box4 {
  background-color: #4C40F7;
  /* width: 1352px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 476px;
  margin-bottom: 75px;
  margin-top: 145px;
  border-radius: 25px;
  padding: 40px;
  color: white;
  text-align: center;
  height: 100%;
}



/* Pressed Buttons */

.blue-box4 .button,
.blue-box4 .button.white {
  /* Common styles for both buttons */
  width: 242px;
  height: 67px;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  /* 40px */
  letter-spacing: -0.25px;
  border-radius: 50px;
  padding: 10px 35px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

.blue-box4 .button {
  background-color: #1CC382;
  color: white;
  border: none;
  margin-left: -0.5em;
}

.blue-box4 .button.white {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  margin-left: 70%;
}

/* Add :active styles */
.blue-box4 .button:active,
.blue-box4 .button.white:active {
  background-color: #3e8e41;
  /* Darker green for "Hire Talent" button when pressed */
  color: #f2f2f2;
  transform: scale(0.95);
  /* Scale down the button slightly when pressed */
}

.blue-box4 .button.white:active {
  background-color: #f2f2f2;
  /* Light gray for "Get Hired" button when pressed */
  color: #3e8e41;
}



.blue-box4 .content-top {
  width: 803px;
  color: var(--mindful-gray-white, #FFF);
  text-align: left;
  font-size: 52px;
  width: 70%;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  /* 153.846% */
  letter-spacing: -1.56px;
  margin-left: 9em;
  margin-top: 1em;
  margin-bottom: 2.5rem;
}


.button-wrapper-job-container {
  /* display: flex;
  flex-direction: row; */
  margin-top: -11%;
  margin-left: -25%;
}


.blue-box4 .content-next {
  text-align: left;
  font-size: 20px;
  font-style: normal;
  margin-left: 18em;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .button-wrapper-job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blue-box4 {
    width: 90%;
    height: 90%;
  }

  .blue-box4 .button {
    margin-left: 8em;
    width: 155px;
    height: 37px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .blue-box4 .content-top {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    /* 132.143% */
    letter-spacing: -0.84px;
    text-align: center;
    width: 100%;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 2rem;
  }

  .blue-box4 .content-next {
    align-items: center;
    display: flex;
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
    text-align: center;
    letter-spacing: -0.14px;
    margin-bottom: 25px;
  }


  .blue-box4 .button.white {
    margin-left: 0;
    width: 213px;
    height: 37px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .blue-box4 img {
    margin-top: -0.5%;
    margin-left: 5.5em;
    width: 65.4%;
    transform: scaleX(-1);
  }
  
  .button-wrapper-job-container {
    margin-bottom: 1.1em;
  }

}




/* Cards Medical Devices */

.cards-section {
  padding: 40px 0;
  background-color: #fff;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns in the grid */
  gap: 20px;
  /* Spacing between cards */
  max-width: 1064px;
  /* margin: 0 35px; */
  margin: 0 auto;
}

#card-1 {
  box-shadow: none;
}

.card {
  position: relative;
  /* Set position to relative for circle positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 365px;
  height: 327px;
  flex-shrink: 0;
  border-radius: 27px;
  background: #FFF;
  box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.10);
  transition: background-color 0.3s, color 0.3s;
}

.card1 {
  position: relative;
  /* Set position to relative for circle positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  /* 121.429% */
  letter-spacing: -1.68px;
  width: 365px;
  height: 327px;
  flex-shrink: 0;
  border-radius: 27px;
}

.circle {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background-color: #ffffff;
  /* Change the circle's background color */
  position: absolute;
  top: 43px;
  /* Position the circle above the card */
  left: 50%;
  /* Move the circle to the center horizontally */
  transform: translateX(-50%);
  /* Center the circle */
  z-index: 1;
  /* Place circle above the card */
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.10))
}

.circle img {
  margin-top: 25px;
  margin-left: 27px;
}

.card h3 {
  font-size: 20px;
  position: relative;
  margin-top: 125px;
  color: #555;
}

.text {
  margin-top: 10px;
  width: 265px;
  height: 85px;
  text-align: center;
}

.card p {
  font-size: 16px;
  color: #555;
}

.card:hover {
  background-color: #4C40F7;
  /* Blue background color on hover */
  color: #ffffff;
  /* Text color on hover */
}

.card:hover h3 {
  color: #ffffff;
  /* Change the color of the heading text on hover */
}

.card:hover p {
  color: #ffffff;
  /* Change the color of the heading text on hover */
}

.card-top-content {
  display: hidden;
  color: #ffffff;
  font-size: 0px;
}

.containerExpert{
  display:flex;
  justify-content:space-around;
}

@media (max-width: 768px) 
{
  .containerExpert{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  .data-1-img{
    display: flex;
    width: 100%;
    margin: 0rem !important;
    align-items: center;
    justify-content: center;
  }

    .data-1 .contact-reach ul li {
    font-size: 14px;
    width: 343px;
    margin-left: -3em;
    /* Adjust font size for smaller screens */
  }
  .data-1 .contact-reach ul li img{
    font-size: 14px;
    margin-left: 1em;
    /* width: 353px; */
    /* Adjust font size for smaller screens */
  }

  .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    overflow: scroll;
  }
  .card1{
    display:none
  }
  .sliderBankingcard{
    justify-content: flex-start !important;
    padding: 0rem 1rem;
  }

  .card-top-content {
    color: var(--mindful-gray-white, #000000);
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: -1.56px;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .card1 {
    position: relative;
    font-size: 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1.68px;
    width: 0px;
    height: 0px;
    flex-shrink: 0;
    border-radius: 27px;
    animation: fadeIn 1s ease-in-out 1s forwards;
  }

  .card1 img {
    display: none;
  }

  #green {
    color: #1CC382;
  }

  .card {
    width: 100%;
    max-width: 365px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .circle {
    width: 90px;
    height: 90px;
    top: 2em;
  }

  .circle img {
    margin-top: 15px;
    margin-left: 15px;
  }

  .card h3 {
    font-size: 18px;
    margin-top: 7em;
  }

  .text {
    margin-top: 4px;
  }

  .card p {
    font-size: 14px;
  }

  .card1 {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}



.green-box {
    background-color: #15956F;
    width: 100%;
    height: 1134px;
    margin-top: 15%;
    margin-bottom: 75px;
    padding: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.green-box .heading {
  color: #fff;
  margin-top: 5%;
  margin-left: 2em;
  /* justify-content: center; */
  font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 47px;
}




.content-next{
  width: 573px;
  text-align: center;
font-size: 20px;
font-style: normal;
margin-top: 3%;
margin-bottom: 25px;
margin-left: 30%;
color: #fff;
}


.container2 {
    max-width: 1200px;
    margin: 0 auto;
    /* margin: 0 -2%; */
}



.data-2{
  margin-top: 5%;
  margin-bottom: 10%;
}

.data-2-content{
    width: 110%;
    height:110%;
    /* margin-left: -20%; */
    border: 1px solid #fff;
    border-radius: 62px;
    background: linear-gradient(0.5deg, hsla(162, 75%, 33%, 1) 0%, rgba(70, 206, 153, 0.00) 100%);
    /* z-index: 2; */
}

/* .rect {
  z-index: 5;
  position: absolute;
  margin-left: 3%;
  width: 35%;
  height: 70%;
  background: linear-gradient(1deg, #000000 0%, rgba(70, 206, 153, 0.00) 100%);
  transform: skew(-10deg);
  border-radius: 0 0 50px 50px;
  position: absolute;
} */

/* .data-2-content button {
    background-color: #4C40F7;
    color: #ffffff;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    padding: 10px 12px;
    margin: 20px 10%;
    cursor: pointer;
} */

/* .data-2-heading {
  margin: 5% 10%;
} */

/* .data-2-content  */

.data-2-img{
  margin-left: 5%;
  margin-top: 25%;
  margin-right: 5%;
}
/* .data-2-img .wave1{
  margin-left: -30%;
  margin-top: 25%;
  margin-right: 5%;
}
.data-2-img .wave{
  margin-left: -30%;
  margin-top: 25%;
  margin-right: 5%;
} */


.data-2 .contact-reach {
  margin-left: 10%;
  width: 700px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px; /* Add margin between the two divs */
}


.data-2 .contact-reach ul {
    list-style: none; /* Remove list style */
    padding-left: 0; /* Remove default padding */
    margin-top: 15px; /* Remove default margin */
}

.data-2 .contact-reach ul li {
    margin-bottom: 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 195%; /* 39px */
    letter-spacing: 1.4px;
    text-align: left; 
    display: flex;
    align-items: center; /* Align items vertically within each list item */
}

.data-2 .contact-reach ul li img {  
  margin-right: 20px; /* Add space between image and content */
}

.data-2 .contact-reach a {
    text-decoration: none;
    color: #000000;
}


/* .blue-box4 .button.white {
    background-color: white; 
    color: #4CAF50;
    width: 242px;
height: 67px;
    border-radius: 50px;
    padding: 10px 35px;
    margin-top: 10px;
    margin-left: 80%;
    font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 160%; 
letter-spacing: -0.25px;
    border: 2px solid #4CAF50;
    cursor: pointer;
} */



.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 90%;
    height: 100%;
    margin-top: -15em;
}

.content .heading{
display: flex;
text-align: center;
justify-content: center;
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: 60px; 
margin-top: 3em;
margin-bottom: 2em;
/* 120% */
}



.container3 {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(3, 1fr); 3 columns in the grid */
    gap: 20px; /* Spacing between cards */
    max-width: 1064px;
    
    /* margin: 0 35px; */
    margin: 0 auto;
}

.container3 .card6 h3{
  color: #1C1134;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 27.5px; /* 137.5% */
}
.container3 .card6 .text{
color: #1C1134;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}



.card6 {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 365px;
    height: 327px;
    flex-shrink: 0;
    border-radius: 27px;
    background: transparent;
    /* box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.10); */
    /* transition: background-color 0.3s, color 0.3s; */
}
.card5 {
    position: relative; /* Set position to relative for circle positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 365px;
    height: 77px;
    margin-left: -10%;
    flex-shrink: 0;
    border-radius: 27px;
    background: transparent;
    /* box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.10); */
    /* transition: background-color 0.3s, color 0.3s; */
}


#first{
  margin-left: -10%;
}
#second{
  margin-left: -17%;
}
#third{
  margin-left: -17%;
}




.circle2 {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #ffffff; /* Change the circle's background color */
    position: absolute;
    top: 43px; /* Position the circle above the card */
    margin-bottom: 25px;
    left: 50%; /* Move the circle to the center horizontally */
    transform: translateX(-50%); /* Center the circle */
    z-index: 1; /* Place circle above the card */
    border: 3px solid #15956F;
    /* filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.10)) */
}

.circle2 img{
  margin-top: 21px;
  margin-left: 23px;
}
.circle2 .favorite-window {
  width: 50%;
  margin-top: 25px;
  margin-left: 27px;
}
.circle2 .talk{
  margin-top: 25px;
  margin-left: 33px;
}


.card6 h3 {
    font-size: 20px;
    position: absolute;
    margin-top: 18%;
    color: #555;
}

.text {
  margin-top: 18px;
  width: 325px;
height: 85px;
text-align: center;
}

.card6 p {
    margin-top: 40%;
    font-size: 16px;
    color: #555;
}




@media screen and (max-width: 768px) {
  .content{
    margin-top: 5em;
    width: 90%;
    height: 92em;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content .heading{
  width: 100%;
  justify-content: center;
  /* margin-left: 2em; */
  font-size: 28px;
font-style: normal;
font-weight: 900;
line-height: 37px; /* 132.143% */
text-transform: capitalize;
margin-top: -2em;
}
.container3{
  /* margin-bottom: em; */
   display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 15%;
    /* margin-right: 0%; */
    justify-content: center;
}

.card5{
  max-width: 173px;
  width: 100%;
  margin-top: 2em;
  margin-left: 3em;
  transform: rotate(90deg);
}

.card6{
  width: 105%;
}


.card6 .circle2 {
    width: 66px;
    height: 66px;
    transform: translateX(-50%); /* Center the circle */
    z-index: 1; /* Place circle above the card */
    border: 3px solid #15956F;
    /* filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.10)) */
}

.card6 .circle2 .favorite-window {
  width: 70%;
  margin-top: 0.5em;
  margin-left: 0.6em;
}
.card6 .circle2 .talk{
  width: 60%;
  margin-top: 0.5em;
  margin-left: 1em;
}


.card6 h3 {
    font-size: 18px;
    margin-top: 10%;
    color: #555;
}

.text {
  margin-top: 18px;
  width: 80%;
height: 85px;
text-align: center;
}

.card6 p {
    margin-top: 40%;
    font-size: 13px;
    color: #555;
}


#first{
  margin-left: -2.5em;
}
#second{
  margin-left: -17%;
}
#third{
  margin-left: -17%;
}



}






.card2 {
    position: relative; /* Set position to relative for circle positioning */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 365px;
    height: 327px;
    flex-shrink: 0;
    border-radius: 27px;
    background: transparent;
    margin-left: 5%;
    /* box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.10); */
    /* transition: background-color 0.3s, color 0.3s; */
}


.circle3 {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: transparent; /* Change the circle's background color */
    position: absolute;
    top: 43px; /* Position the circle above the card */
    /* margin-bottom: 25px; */
    left: 15%; /* Move the circle to the center horizontally */
    transform: translateX(-50%); /* Center the circle */
    z-index: 1; /* Place circle above the card */
    border: 3px solid #fff;
    /* filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.10)) */
}

/* .circle3 img{
  margin-top: 21px;
  margin-left: 23px;
} */
.circle3 .handshake {
  margin-top: 31px;
  margin-left: 0px;
}
.circle3 .resume {
  margin-top: 21px;
  margin-left: 0px;
}
.circle3 .stats {
  margin-top: 31px;
  margin-left: 0px;
}
.circle3 .gear {
 margin-top: 21px;
  margin-left: 0px;
}



.card2 h3 {
    font-size: 20px;
    align-items: left;
    text-align: left;
    position: absolute;
    margin-top: 10%;
    /* margin-left: 7%; */
    color: #ffffff;
}

.text2 {
  /* margin-top: 18px; */
      align-items: left;
    text-align: left;
  width: 325px;
height: 85px;
text-align: center;
}

.card2 p {
        align-items: left;
    text-align: left;
    margin-top: 30%;
    font-size: 16px;
    color: #ffffff;
}







/* FOOTER WALA BLUE DABBA */

.blue-box5-wrapper {
  display: flex;
  flex-direction: row;
   width: 100%;
  height: 100%;
  border-radius: 56px 56px 0px 0px;
  margin-top: 7%;
  background: #4C40F7;
  padding: 40px;
  color: white;
  text-align: center;
}

.blue-box5 {
  width: 70%;
  border-radius: 56px 56px 0px 0px;
  /* margin-top: 7%; */
  margin-top: -2em;
  margin-left: -3em;
  background: #4C40F7;
  padding: 40px;
  color: white;
  text-align: center;
}

.reach,
.quick {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  /* Add margin between the two divs */
}

.reach h3 {
  margin-left: -83%;
  margin-bottom: 15px;
}
.quick h3 {
  margin-left: -15%;
  margin-bottom: 15px;
}


.reach ul,
.quick ul {
  list-style: none;
  /* Remove list style */
  padding-left: 0;
  /* Remove default padding */
  margin: 0;
  /* Remove default margin */
}

.reach ul li,
.quick ul li {
  margin-bottom: 25px;
  text-align: left;
  display: flex;
  align-items: center;
  /* Align items vertically within each list item */
}

.reach ul li img {
  margin-right: 20px;
  /* Add space between image and content */
}

.reach a,
.quick a {
  text-decoration: none;
  color: #ffffff;
}



.newsletter-footer {
  text-align: center;
  padding: 20px;
  margin-top: -1em;
}

.newsletter-footer h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.input-group {
  margin-bottom: 20px;
  margin-left: -30px;
}
.input-group .btn-primary {
  margin-bottom: 18px;
  margin-left: -90px;
}

.form-control {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #1CC382;
  color: #fff;
  border: none;
  width: 105px;
  height: 45px;
  margin-top: 2em;
  margin-left: 1em;
  /* border-radius: 0 5px 5px 0; */
  border-radius:  5px 5px ;
  cursor: pointer;
  font-size: 14px;
}

.footer-social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-social-icons li {
  margin: 0 10px;
}

.footer-social-icons img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width:768px)
{
  .blue-box5-wrapper {
  display: flex;
  flex-direction: column;
   width: 100%;
  height: 100%;
  border-radius: 56px 56px 0px 0px;
  margin-top: 7%;
  background: #4C40F7;
  padding: 40px;
  color: white;
  text-align: center;
}
  .blue-box5 {
  display: flex;
  flex-direction: column;
   width: 100%;
  height: 80%;
  border-radius: 56px 56px 0px 0px;
  margin-top: 7%;
  /* margin-left: 1.em; */
  background: #4C40F7;
  padding: 40px;
  color: white;
  text-align: center;
}

.reach h3 {
  margin-left: 5%;
  margin-bottom: 15px;
}
.quick h3 {
  margin-left: -15%;
  margin-bottom: 15px;
}

.quick ul li {
  margin-bottom: 25px;
  text-align: left;
  display: flex;
  margin-left: 15%;
  justify-content: left;
  /* align-items: center; */
  /* Align items vertically within each list item */
}

.newsletter-footer{
  margin-top:-2em;
  /* align-items: center; */
  justify-content: center;
}

.newsletter-footer h2 {
  margin-bottom: 20px;
  font-size: 25px;
  color: #ffffff;
   justify-content: center;
}

.input-group {
  /* margin-bottom: 20px;
  */
  margin-left: 0.5em; 
  justify-content: center;
}

.form-control {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #1CC382;
  color: #fff;
  border: none;
  width: 105px;
  height: 43px;
  margin-top: 1em;
  justify-content: center;
  /* margin-left: -10px; */
  /* border-radius: 0 5px 5px 0; */
  border-radius:  5px 5px ;
  cursor: pointer;
  font-size: 14px;
}



.footer-social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}


.footer-social-icons img {
  width: 30px;
  height: 30px;
}

}












.blue-box {
    background-color:  #DBFFF2;
    position: relative;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 260px;
    margin-top: 1%;
    /* border-radius: 45px; */
    padding: 40px 0;
    overflow: hidden; /* Prevent content overflow */
}

.blue-box-content {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.blue-box h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.marquee {
  display: flex;
  width: 100em;
  margin: 55px;
  overflow: hidden;
  /* Hide any overflowing content */
  white-space: nowrap;
  animation: marquee-scroll 20s linear infinite;
  /* Animation for marquee */
}

.marquee img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  /* Adjust spacing between logos */
  width: 100px;
  /* Adjust logo size */
  height: auto;
}

#johnson {
  width: 200px;
  height: 40px;
}

#edwards {
  width: 290px;
  height: 40px;
}

#abbott {
  width: 120px;
  height: 42px;
}

#bd {
  width: 120px;
  height: 42px;
}

#pfizer {
  width: 120px;
  height: 52px;
}

#moderna {
  width: 120px;
  height: 52px;
}


@keyframes marquee-scroll {
  from {
    transform: translateX(100%);
    /* Start from the right side */
  }

  to {
    transform: translateX(-100%);
    /* Move to the left side */
  }
}

/* Styles for screens smaller than or equal to 768px (typical mobile screens) */
@media (max-width: 768px) {


.card2 h3 {
  font-size: 15px;
  padding-left: 5%;
}
.text2{
  padding-left: 5%;
}


  .blue-box {
    height: auto;
    /* Adjust height to fit content */
    padding: 20px 0;
    /* Adjust padding for spacing */
    margin-top: 0em;
  }
  .heading>img{
    width: 100%;
  }

    .green-box .heading {
    margin-left: 0;
  color: #fff;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 37px; /* 132.143% */
text-transform: capitalize;
}
  .green-box{
    height: auto;
    padding: 1rem;
  }
  .union{
    width: 100%;
    overflow: hidden;
  }
  .data-2-img{
    margin-left:0;
    margin-right: 0;
    margin-top:10%
  }
  .data-2-img >img{
    width: 90%;
    margin-left: 5%;
    margin-right: 0%;
  }

  .content-next{
    width: 100%;
    margin-left:0 !important;
    font-size: 14px;
  }
  .card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2rem 0;
    margin-bottom: 3rem;
    width: auto;
  }
  .fxing-green-box{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .data-2-content {
    width: 100%;
    margin-left: 0%;
  }
  .container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .marquee {
    width: 70em;
    margin: 15px;
    overflow-x: scroll;
    /* Enable horizontal scrolling for logos */
    white-space: nowrap;
    animation: marquee-scroll 10s linear infinite;
    /* Enable marquee animation for small screens */
  }

  .marquee img {
    margin: 0 10px;
    /* Adjust spacing between logos */
    width: 100%;
    /* Adjust logo size */
    height: auto;
  }
  .card1{
    display: none;
  }


  .blue-box-content h2 {
    font-size: 24px;
    /* Reduce heading font size for smaller screens */
    margin-bottom: 10px;
    /* Adjust margin for spacing */
  }


}
