@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, "Urbanist";
}
body {
  background: #ffffff;
  min-height: 100vh;
}


header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -10px;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 12;
}
header .logo {
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
  font-weight: 700;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}
/* header ul li a:hover {
  background-color: #ddd;
    color: black;
} */

#menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


#menu li:last-child {
  margin-right: 0;
}

#menu a {
  text-decoration: none;
  color: black;
  position: relative;
}

#menu a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #1CC382;
  border-radius: 10px;
  transform-origin: left;
  transition: width 0.3s ease-in-out;
}

#menu a:hover::after {
  width: 100%;
}

#menu .active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #1CC382;
  border-radius: 10px;
}

/* Styling for the buttons in the header */
header .button {
  background-color: #4CAF50; /* Light green color for "Hire Talent" */
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  padding: 10px 35px;
  margin: 10px 5px;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.4s; /* Slower transition */
}

header .button.white {
  background-color: white; /* White color for "Get Hired" */
  color: #4CAF50;
  border-radius: 50px;
  padding: 10px 35px;
  margin: 10px 5px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #4CAF50;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.4s; /* Slower transition */
}

/* Add :hover styles */
header .button:hover,
header .button.white:hover {
  transform: translateY(-2px); /* Move the button slightly upwards on hover */
}

/* Add :active styles */
header .button:active {
  background-color: #3e8e41; /* Darker green for button when pressed */
  transform: scale(0.95); /* Scale down the button slightly when pressed */
}

header .button.white:active {
  background-color: #3e8e41; /* Darker green for button when pressed */
  color: #ffffff; /* Darker green for button when pressed */
  transform: scale(0.95); /* Scale down the button slightly when pressed */
}


/* Your existing CSS for desktop */

/* New CSS for mobile menu */


/* Media query for mobile */
@media screen and (max-width: 768px) {
    .mobile-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    }

    

.bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    margin-left: -18em;
    transition: 0.4s;
}
.close-bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
    transform-origin: center;
}

#close-menu.active .close-bar:first-child {
    transform: rotate(45deg);
    margin-top: -1em;
}

#close-menu.active .close-bar:last-child {
    margin-top: -0.5em;
    transform: rotate(-45deg);
}


#menu {
    list-style: none;
    padding: 0;
    position: absolute;
    /* position: fixed; */
    top: 80px;
    left: -100%;
    width: 100%;
    /* height: 100vh; */
    background-color: #fff;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transition: left 0.4s ease; /* Add smooth left transition */
}

.hidden {
    display: none;
}
    header {
        padding: 30px 20px; /* Reduce padding for smaller screens */
    }

    header ul li {
    margin: 15px 0;
  }

    #menu.active {
        left: 0;
    }

    .mobile-menu {
        display: block;
    }
    
    #burger-menu.active ~ #close-menu {
        display: block;
    }
}






.banner {
    position: relative;
    margin-top: 109px;
    width: 100%;
    height: 1064px; /* Set the desired height for the banner */
    overflow: hidden;
  }
  
  .banner img {
    width: 1055px;
    height: 706px;
    /* width: 90%;
    height: 60%; */
    margin-left: 38%;
    object-fit: cover;
  }

/* .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 706px;
    background: linear-gradient(88deg, #4C40F7 0%, rgba(76, 64, 247, 0.00) 82%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  } */
  
  .slide {
  overflow: hidden;
  flex: 0 0 100%;
  position: relative;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
/* width: 1440px; */
    width: 90%;
    height: 706px;
    background: linear-gradient(88deg, #4C40F7 0%, rgba(76, 64, 247, 0.00) 82%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  opacity: 0;
  z-index: 1; /* Ensure overlay is above the image */
}

.overlay-content {
  padding: 20px;
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

/* Add hover effect to display the overlay */
.banner-overlay {
  opacity: 1;
}

.overlay-content {
  margin-left: -50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
}

.overlay-content button {
    background-color: #3ceca8;
    color: #4CAF50;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    padding: 10px 12px;
    margin: 10px 5px;
    cursor: pointer;
}

.overlay-content #banner-text {
    text-align: left; /* Align text content to the left */
}

.overlay-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px; /* Add margin to create spacing between elements */
}

.overlay-content p {
    text-align: left; /* Align paragraph to the left */
    width: 500px;
    margin-bottom: 20px; /* Add margin to create spacing between elements */
}

/* [Pressing button */

.overlay-content .button {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.4s; /* Slower transition */
}

/* Add :active styles */
.overlay-content .button:active {
  background-color: #3e8e41; /* Darker green for button when pressed */
  transform: scale(0.95); /* Scale down the button slightly when pressed */
}





.banner-overlay h1 {
    font-size: 36px;
    font-weight: bold;
}

.banner .button {
    background-color: #4CAF50; /* Light green color for "Hire Talent" */
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    padding: 9px 40px;
    margin: 10px 5px;
    cursor: pointer;
}
.banner .btn-data{
    background-color: transparent; /* Light green color for "Hire Talent" */
    color: #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 50px;
    padding: 10px 12px;
    margin: 10px 5px;
    cursor: pointer;
}

.rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.star-rating .star {
    color: #FDC639;
}

        /* Additional styles */
.rating-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-section .company-name {
    color: #FFFBFB;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.15px;
    margin-left: 10px; /* Adjust the margin as needed */
}

.rating-section .company-logo {
  margin-left: -115px;
  margin-bottom: -20px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.star-rating {
    display: flex;
    align-items: center;
    margin-top: 5px; /* Adjust the spacing as needed */
}

.separator {
  width: 50px;
  padding-right:20px ;
  height: 50px;
  color: #fff;
  
}

/* Keep your existing CSS for the banner and overlay */

/* Add styles for the banner-slider and slide */
.banner-slider {
  display: flex;
  width: 100%; /* Set the width to 100% for responsiveness */
  transition: transform 0.5s ease;
}

/* .slide {
  flex: 0 0 100%;
} */

/* .banner-slider img {
  width: 100%;
  height: auto;
} */

/* Add styles for the slider navigation */
.slider-nav {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  z-index: 3;
}

.prev-slide,
.next-slide {
  background: #fff; /* Background color for navigation buttons */
  background-repeat: no-repeat;
  color : transparent;
  border: none;
  width: 33px;
  height: 33px;
  /* font-size: 24px; */
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}
/* .prev-slide,
.next-slide {
  background: rgba(255, 255, 255, 0.5); 
  color : transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
} */



.prev-slide {
  transform: rotate(180deg);
  margin-left: 20px;
}
.next-slide {
  margin-right: 20px;
}
.prev-slide svg{
  width: 12px;
  height: 14px;
  /* margin-left: px; */
  /* margin-top: -5px; */
}
.next-slide svg{
 width: 12px;
  height: 14px;
  /* margin-left: 8px; */
  /* margin-top: -5px; */
}


.prev-slide:hover,
.next-slide:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Darker background when hovered */
}



/* Styles for screens smaller than or equal to 768px */
@media (max-width: 768px) {
    .banner {
        margin-top: 0;
        height: auto; /* Adjust height for responsiveness */
    }

    .banner img {
        width: 27em;
        margin-left: 0;
    }

    .banner-overlay {
        width: 100%;
        background: linear-gradient(88deg, #4C40F7 0%, rgba(76, 64, 247, 0.00) 120%);
    }

    .overlay-content {
        margin-left: 0;
        align-items: center;
    }

    .overlay-content button {
        font-size: 11px;
        padding: 8px 10px;
    }

    .overlay-content h1 {
        font-size: 20px;
    }
#banner-text {
        text-align: center; /* Center-align text content */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%; /* Ensure the container takes up the full height of its parent */
    }

    #banner-text h1,
    #banner-text p {
        text-align: center; /* Center-align both heading and paragraph */
        margin: 10px 0; /* Add margin for spacing between elements */
    }
    #banner-text p {
        width: 400px;
        font-size: 16px;
        text-align: center; /* Center-align both heading and paragraph */
        margin: 10px 0; /* Add margin for spacing between elements */
    }


    /* Additional responsive styles can be added here */
}



@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Spacing between cards */
    max-width: 1064px;
    margin: 0 auto;
    overflow: hidden; /* Hide overflowing cards */
  }
.card-top-content {
  width: 373px;
  color: var(--mindful-gray-white, #000000);
  text-align: left; /* Align text to the left */
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px; /* 153.846% */
  letter-spacing: -1.56px;
  margin-left: 2em;
  margin-top: 20px;
  margin-bottom: 120px;
}  
    .marquee {
      width: 70em;
        margin: 15px;
        overflow-x: scroll; 
        white-space: nowrap;
        animation: marquee-scroll 10s linear infinite; 
    }

.card1{
      position: relative; /* Set position to relative for circle positioning */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white; */
    font-size: 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 121.429% */
    letter-spacing: -1.68px;
    width: 0px;
    height: 0px;
    flex-shrink: 0;
    border-radius: 27px;
}

.card1 img {
  width: 0%;
}
  #green{
  color: #1CC382;
}

  .card {
        width: 90%; /* Full width on mobile */
        height: 17em;
        animation: card-appear 2s ease-in-out forwards;
    }
    
    .circle {
        width: 90px; /* Adjust circle size for smaller screens */
        height: 90px; /* Adjust circle size for smaller screens */
        top: 2em; /* Adjust circle position for smaller screens */
    }

    .circle img {
        margin-top: 15px; /* Adjust margin for smaller screens */
        margin-left: 15px; /* Adjust margin for smaller screens */
    }

    .card h3 {
        font-size: 18px; /* Reduce font size for smaller screens */
        margin-top: 7em; /* Adjust margin for smaller screens */
    }

    .text {
        margin-top: 4px; /* Adjust margin for smaller screens */
    }

    .card p {
        font-size: 14px; /* Reduce font size for smaller screens */
    }


  /* Add similar rules for the rest of the cards */
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card-slider {
    display: flex;
    overflow: hidden;
    width: 300px; /* Adjust the width to your preferred card width */
}

.card {
    flex: 0 0 auto;
    width: 300px; /* Adjust the width to your preferred card width */
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.card:not(:first-child) {
    margin-left: 20px; /* Adjust the spacing between cards */
}

.prev-btn,
.next-btn {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #0056b3;
}
