@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #ffffff;
  min-height: 100vh;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -10px;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 12;
}
header .logo {
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}
header ul li a:hover {
  background-color: #ddd;
    color: black;
}

/* Styling for the buttons */
header .button {
    background-color: #4CAF50; /* Light green color for "Hire Talent" */
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
}

header .button.white {
    background-color: white; /* White color for "Get Hired" */
    color: #4CAF50;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    border: 2px solid #4CAF50;
    cursor: pointer;
}

.banner {
    position: relative;
    margin-top: 109px;
    width: 100%;
    height: 1064px; /* Set the desired height for the banner */
    overflow: hidden;
}

.banner img {
    width: 1064px;
    height: 710px;
    margin-left: auto;
    object-fit: cover;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 710px;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)); */
    background: linear-gradient(88deg, #4C40F7 0%, rgba(76, 64, 247, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.banner-overlay h2 {
    font-size: 24px;
    font-weight: bold;
}


/* .banner {
width: 1064px;
height: 710px;
flex-shrink: 0;
background: linear-gradient(88deg, #4C40F7 0%, rgba(76, 64, 247, 0.00) 100%);
} */


        /* Styling for the active link */
        /* .navbar a.active {
            background-color: #4CAF50;
        } */





